In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import numpy as np
import pandas as pd

#pd.Series

Тип данных pd.Series представляет собой одномерный набор данных. Отсутствующий данные записываются как np.nan. Они не участвуют в вычислении средних, среднеквадратичных отклонений и т.д.
Создание

Создадим Series из списка температур

In [3]:
temperature = [0, 0, 1, np.nan, -1, -3, -5, -3, -6, np.nan, -8,- 9, -11, -14]
ser_1 = pd.Series(temperature)
ser_1

0      0.0
1      0.0
2      1.0
3      NaN
4     -1.0
5     -3.0
6     -5.0
7     -3.0
8     -6.0
9      NaN
10    -8.0
11    -9.0
12   -11.0
13   -14.0
dtype: float64

In [4]:
data = ['2021-01-' + str(i).zfill(2) for i in range(1, len(temperature) + 1)]
ser_2 = pd.Series(temperature, data)
ser_2

2021-01-01     0.0
2021-01-02     0.0
2021-01-03     1.0
2021-01-04     NaN
2021-01-05    -1.0
2021-01-06    -3.0
2021-01-07    -5.0
2021-01-08    -3.0
2021-01-09    -6.0
2021-01-10     NaN
2021-01-11    -8.0
2021-01-12    -9.0
2021-01-13   -11.0
2021-01-14   -14.0
dtype: float64

In [5]:
ser_2.isnull()

2021-01-01    False
2021-01-02    False
2021-01-03    False
2021-01-04     True
2021-01-05    False
2021-01-06    False
2021-01-07    False
2021-01-08    False
2021-01-09    False
2021-01-10     True
2021-01-11    False
2021-01-12    False
2021-01-13    False
2021-01-14    False
dtype: bool

In [6]:
ser_2.dropna(how="any")

2021-01-01     0.0
2021-01-02     0.0
2021-01-03     1.0
2021-01-05    -1.0
2021-01-06    -3.0
2021-01-07    -5.0
2021-01-08    -3.0
2021-01-09    -6.0
2021-01-11    -8.0
2021-01-12    -9.0
2021-01-13   -11.0
2021-01-14   -14.0
dtype: float64

In [8]:
ser_2.fillna(value=-7)

2021-01-01     0.0
2021-01-02     0.0
2021-01-03     1.0
2021-01-04    -7.0
2021-01-05    -1.0
2021-01-06    -3.0
2021-01-07    -5.0
2021-01-08    -3.0
2021-01-09    -6.0
2021-01-10    -7.0
2021-01-11    -8.0
2021-01-12    -9.0
2021-01-13   -11.0
2021-01-14   -14.0
dtype: float64

In [ ]:
ser_3 = pd.Series(temperature, data, name='Temperature')
ser_3

2021-01-01     0.0
2021-01-02     0.0
2021-01-03     1.0
2021-01-04     NaN
2021-01-05    -1.0
2021-01-06    -3.0
2021-01-07    -5.0
2021-01-08    -3.0
2021-01-09    -6.0
2021-01-10     NaN
2021-01-11    -8.0
2021-01-12    -9.0
2021-01-13   -11.0
2021-01-14   -14.0
Name: Temperature, dtype: float64

##Индексирование

In [ ]:
print(ser_3[0])

print('-----------')

print(ser_3[1:3])

print('-----------')

print(ser_3[::-1])

##Индексирование по условию

In [ ]:
date_range = pd.date_range('20190101', periods=10)
ser_4 = pd.Series(np.random.rand(10), date_range)
ser_4

In [ ]:
ser_4 > 0.45

2019-01-01     True
2019-01-02     True
2019-01-03     True
2019-01-04     True
2019-01-05    False
2019-01-06     True
2019-01-07    False
2019-01-08    False
2019-01-09     True
2019-01-10    False
Freq: D, dtype: bool

In [ ]:
ser_4[ser_4 > 0.45]

2019-01-01    0.612283
2019-01-02    0.558291
2019-01-03    0.545877
2019-01-04    0.878429
2019-01-06    0.621303
2019-01-09    0.788753
dtype: float64

In [ ]:
ser_4[(ser_4 > 0.7) | (ser_4 < 0.45)]

2019-01-04    0.878429
2019-01-05    0.089634
2019-01-07    0.084415
2019-01-08    0.350921
2019-01-09    0.788753
2019-01-10    0.323547
dtype: float64

##Сортировка

In [ ]:
ser_4.sort_index()

2019-01-01    0.612283
2019-01-02    0.558291
2019-01-03    0.545877
2019-01-04    0.878429
2019-01-05    0.089634
2019-01-06    0.621303
2019-01-07    0.084415
2019-01-08    0.350921
2019-01-09    0.788753
2019-01-10    0.323547
Freq: D, dtype: float64

In [ ]:
ser_4.sort_values()

2019-01-07    0.084415
2019-01-05    0.089634
2019-01-10    0.323547
2019-01-08    0.350921
2019-01-03    0.545877
2019-01-02    0.558291
2019-01-01    0.612283
2019-01-06    0.621303
2019-01-09    0.788753
2019-01-04    0.878429
dtype: float64

##Математические операции

In [ ]:
ser_4 + 100

2019-01-01    100.612283
2019-01-02    100.558291
2019-01-03    100.545877
2019-01-04    100.878429
2019-01-05    100.089634
2019-01-06    100.621303
2019-01-07    100.084415
2019-01-08    100.350921
2019-01-09    100.788753
2019-01-10    100.323547
Freq: D, dtype: float64

In [ ]:
np.exp(ser_4)

2019-01-01    1.844638
2019-01-02    1.747683
2019-01-03    1.726122
2019-01-04    2.407115
2019-01-05    1.093774
2019-01-06    1.861352
2019-01-07    1.088081
2019-01-08    1.420375
2019-01-09    2.200650
2019-01-10    1.382021
Freq: D, dtype: float64

In [ ]:
np.mean(ser_4)

0.4853454028673404

In [ ]:
np.unique(ser_4)

array([0.08441524, 0.08963439, 0.32354712, 0.35092101, 0.54587701,
       0.55829108, 0.6122832 , 0.62130316, 0.78875275, 0.87842907])

In [ ]:
term_1 = pd.Series(np.random.randint(0, 10, 5))
term_2 = pd.Series(np.random.randint(0, 10, 6))

term_1 + term_2

0    11.0
1    13.0
2     3.0
3     8.0
4    17.0
5     NaN
dtype: float64

In [ ]:
term_1.shape

(5,)

#DataFrame

Объект DataFrame лучше всего представлять себе в виде обычной таблицы и это правильно, ведь DataFrame является табличной структурой данных. В любой таблице всегда присутствуют строки и столбцы. Столбцами в объекте DataFrame выступают объекты Series, строки которых являются их непосредственными элементами.

In [ ]:
df1 = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'China'],
     'population': [17.04, 143.5, 9.5, 1412],
     'square': [2724902, 17125191, 207600, 9597000]})
df1

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3       China     1412.00   9597000

In [ ]:
data = [['Kazakhstan', 17.04, 2724902], ['Russia', 143.5, 17125191], ['Belarus', 9.5, 207600], ['China', 1412, 9597000]]
df2 = pd.DataFrame(data, columns=['country', 'population', 'square'])
df2

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3       China     1412.00   9597000

In [ ]:
df2.columns

Index(['country', 'population', 'square'], dtype='object')

In [ ]:
df2.values

array([['Kazakhstan', 17.04, 2724902],
       ['Russia', 143.5, 17125191],
       ['Belarus', 9.5, 207600],
       ['China', 1412.0, 9597000]], dtype=object)

In [ ]:
df2.columns = ['Страна', 'Население', 'Плошадь']
df2

       Страна  Население   Плошадь
0  Kazakhstan      17.04   2724902
1      Russia     143.50  17125191
2     Belarus       9.50    207600
3       China    1412.00   9597000

In [ ]:
df1.index = ['KZ', 'RU', 'BY', 'CH']
df1

       country  population    square
KZ  Kazakhstan       17.04   2724902
RU      Russia      143.50  17125191
BY     Belarus        9.50    207600
CH       China     1412.00   9597000

In [ ]:
df1.index.name = 'Country Code'
df1

                 country  population    square
Country Code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
CH                 China     1412.00   9597000

##Индексирование

###По колонкам

In [ ]:
df1['country']

Country Code
KZ    Kazakhstan
RU        Russia
BY       Belarus
CH         China
Name: country, dtype: object

In [ ]:
df1.country

Country Code
KZ    Kazakhstan
RU        Russia
BY       Belarus
CH         China
Name: country, dtype: object

In [ ]:
df1[['country', 'square']]

                 country    square
Country Code
KZ            Kazakhstan   2724902
RU                Russia  17125191
BY               Belarus    207600
CH                 China   9597000

###По строкам

In [ ]:
df1[1]

KeyError: ignored

In [ ]:
df1[1:3]

              country  population    square
Country Code
RU             Russia       143.5  17125191
BY            Belarus         9.5    207600

In [ ]:
df1[:1:-1]

              country  population   square
Country Code
CH              China      1412.0  9597000
BY            Belarus         9.5   207600

###Индиксация по строкам при помощи .loc и .iloc

.loc и .iloc --- это два взаимозаменяемых атрибута, которые позволяют индексировать по обеим осям сразу. Путаницы не возникает из-за фиксированного порядка перечисления осей.



1.  .loc - используется для доступа по строковой метке
2.  .iloc - используется для доступа по числовому значению (начиная от 0)

In [ ]:
df1.loc['KZ']

country       Kazakhstan
population         17.04
square           2724902
Name: KZ, dtype: object

In [ ]:
df1.iloc[0]

country       Kazakhstan
population         17.04
square           2724902
Name: KZ, dtype: object

In [ ]:
df1.loc[['KZ', 'RU'], 'population']

Country Code
KZ     17.04
RU    143.50
Name: population, dtype: float64

In [ ]:
df1.loc['KZ' : 'BY', :]

                 country  population    square
Country Code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600

In [ ]:
df1[df1.population > 10][['country', 'square']]

                 country    square
Country Code
KZ            Kazakhstan   2724902
RU                Russia  17125191
CH                 China   9597000

##Редактирование таблиц

In [ ]:
df1['density'] = df1['population'] / df1['square'] * 1e6
df1

                 country  population    square     density
Country Code
KZ            Kazakhstan       17.04   2724902    6.253436
RU                Russia      143.50  17125191    8.379469
BY               Belarus        9.50    207600   45.761079
CH                 China     1412.00   9597000  147.129311

In [ ]:
df1.drop(['density'], axis='columns')

                 country  population    square
Country Code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
CH                 China     1412.00   9597000

#Работа с таблицами

In [9]:
dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.793204 -0.153294  1.919818 -0.020923
2013-01-02  0.545326  0.414203 -0.849716 -1.095130
2013-01-03  1.074405  1.263353  0.753181 -0.101015
2013-01-04 -0.379961  0.562363  0.272748 -0.228668
2013-01-05  0.950512  1.710267  0.453888 -1.988871
2013-01-06 -1.435879 -0.343290  1.015356 -0.026474

In [10]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  0.793204 -0.153294  1.919818 -0.020923
2013-01-02  1.338530  0.260909  1.070102 -1.116053
2013-01-03  2.412935  1.524262  1.823284 -1.217068
2013-01-04  2.032974  2.086624  2.096031 -1.445736
2013-01-05  2.983486  3.796892  2.549919 -3.434608
2013-01-06  1.547608  3.453601  3.565275 -3.461082

In [11]:
df.apply(lambda x: x.max() - x.min())

A    2.510284
B    2.053558
C    2.769534
D    1.967948
dtype: float64

In [12]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

##Слияние таблиц

In [14]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.533149 -1.175520  0.754823 -0.363875
1 -1.468424  0.001068  1.159635 -0.331450
2  0.148841  1.793634  1.472196  1.377006
3 -0.153441  1.178292  2.086982  0.237849
4 -1.441737  2.245955  0.416679  0.926488
5  0.996860 -1.047902  0.570008  1.567087
6  1.772000 -0.880892  0.963415 -1.646429
7  0.237012 -0.085456  0.248894  0.344219
8 -0.517537  0.765751  0.088662 -1.179728
9  0.161617  0.476978 -0.928579 -2.075085

In [16]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.533149 -1.175520  0.754823 -0.363875
 1 -1.468424  0.001068  1.159635 -0.331450
 2  0.148841  1.793634  1.472196  1.377006,
           0         1         2         3
 3 -0.153441  1.178292  2.086982  0.237849
 4 -1.441737  2.245955  0.416679  0.926488
 5  0.996860 -1.047902  0.570008  1.567087
 6  1.772000 -0.880892  0.963415 -1.646429,
           0         1         2         3
 7  0.237012 -0.085456  0.248894  0.344219
 8 -0.517537  0.765751  0.088662 -1.179728
 9  0.161617  0.476978 -0.928579 -2.075085]

In [17]:
pd.concat(pieces)

          0         1         2         3
0 -0.533149 -1.175520  0.754823 -0.363875
1 -1.468424  0.001068  1.159635 -0.331450
2  0.148841  1.793634  1.472196  1.377006
3 -0.153441  1.178292  2.086982  0.237849
4 -1.441737  2.245955  0.416679  0.926488
5  0.996860 -1.047902  0.570008  1.567087
6  1.772000 -0.880892  0.963415 -1.646429
7  0.237012 -0.085456  0.248894  0.344219
8 -0.517537  0.765751  0.088662 -1.179728
9  0.161617  0.476978 -0.928579 -2.075085

In [18]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

   key  lval
0  foo     1
1  foo     2    key  rval
0  foo     4
1  foo     5

In [19]:
left

   key  lval
0  foo     1
1  foo     2

In [20]:
right

   key  rval
0  foo     4
1  foo     5

In [21]:
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [22]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})

In [23]:
left

   key  lval
0  foo     1
1  bar     2

In [24]:
right

   key  rval
0  foo     4
1  bar     5

In [25]:
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [26]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'], 'value': [1, 2, 3, 5]})
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [27]:
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'], 'value': [5, 6, 7, 8]})
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [28]:
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [30]:
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=('_left', '_right'))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

#Чтение и запись данных

Pandas поддерживает все самые популярные форматы хранения данных: csv, excel, sql, буфер обмена, html и многое другое

In [ ]:
df1.to_csv('country.csv')

In [ ]:
data = pd.read_csv('titanic_data.csv', sep=',')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data = pd.read_csv('titanic_data.csv', sep=',', index_col='PassengerId')
data.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
data.tail(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

## Разная информация о датасете

Можно узнать размер таблицы, информацию о значениях таблицы, различные статистики по значениям.

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.describe()

##Работа с таблицей

In [ ]:
data.groupby(['Sex', 'Survived']).count()

                 Pclass  Name  Age  SibSp  Parch  Ticket  Fare  Cabin  \
Sex    Survived
female 0             81    81   64     81     81      81    81      6
       1            233   233  197    233    233     233   233     91
male   0            468   468  360    468    468     468   468     62
       1            109   109   93    109    109     109   109     45

                 Embarked
Sex    Survived
female 0               81
       1              231
male   0              468
       1              109

In [ ]:
data.pivot_table(index=['Sex'], columns=['Pclass'], values='Name', aggfunc='count')

Pclass    1    2    3
Sex
female   94   76  144
male    122  108  347